<h1>Welcome to Tweet App, <%= @user.name %></h1>
  <p>
    You have successfully signed up to Tweet App,
  </p>
<p>Thanks for joining us and have a great day!</p>

<p>Account Verify</p>
<h2>Your OTP is <%= @random %></h2>