  <%= render "layouts/navbar"%>
  
  <% if logged_in?%>
    <% @user.each do |u|%>
          <ul>
            <% userId = u.id.to_i%>
            <li>
              <%= link_to u.name, "/users/#{userId}"%>
            </li>
          </ul>
    <%end%>
  <%else%>
   <h1><center>Welcome.. to the Tweets</center></h1>
   <p><center>Login/Sign-up to explore more!</center></p>

  <%end%>
