<div class="card" style="width: 18rem;">
  <img src="https://avatars.githubusercontent.com/u/4223" class="card-img-top" alt="Rails">
  <div class="card-body d-flex p-2">
    <p class="card-text">These are the new guides for Rails 7.0 based on v7.0.3. These guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.</p>
  </div>
</div>